*.pyc
*.pkl
*.mkl
*.gz
*.model
*.npy
*.csv
*.hdfs5
*.hdf5
*.crc
*.h5
*.xlsx
*.log
*.bin
*.vowpal_wabbit

temp/*
tmp/*
sparktmp/*

data/*
model/*

out/*

__pycache__/
.ipynb_checkpoints/
.cache/
nohup.out

batches/*
batches_stem/*
logs/*
